<li id="mute-toggle" class="mute-toggle">
    <i class="fa fa-volume-up" aria-hidden="true"></i>
</li>
<script>
$('#mute-toggle').on('click', function() {
    var mute_toggle = $(this);

    if(player.isMuted()){
        player.unMute();
        mute_toggle.text('volume_up');
    }
    else{
        player.mute();
        mute_toggle.text('volume_off');
    }
});
</script>