<nav class="fullscreen-menu hidden">
  <ul>
    <li class="menu__item">
      <div class="mute-toggle">
        <i class="fa fa-volume-up" aria-hidden="true"></i>
        <span>Unmute</span>
      </div>
    </li>
    <li class="menu__item">{{> fullscreenbutton }}</li>
    <li class="menu__item">
      <div class="fullscreen-toggle fullscreen-toggle-2">
        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
        <span>Fullscreen</span>
      </div>
    </li>
  </ul>
</nav>


<nav class="menu">
  <ul>
    <li class="menu__item toggle-programme">
      <div onclick="toggleProgrammeVisibility()">
        <i class="fa fa-list-ul" aria-hidden="true"></i>Schedule
      </div>
    </li>

    <li class="menu__item">
      <div onclick="toggleTheme()">
        <i class="fa fa-bolt" aria-hidden="true"></i>Theme
      </div>
    </li>

    <li class="menu__item">{{> fullscreenbutton }}</li>

    <li class="menu__item">
      <div class="mute-toggle">
        <i class="fa fa-volume-up" aria-hidden="true"></i>
        <span>Unmute</span>
      </div>
    </li>

    <li class="menu__item">
      <div class="fullscreen-toggle fullscreen-toggle-2">
        <i class="fa fa-arrows-alt" aria-hidden="true"></i>
        <span>Fullscreen</span>
      </div>
    </li>
  </ul>
</nav>

<h1 class="logo">Retro-TV</h1>

<nav class="segment segment--desktop">
  <a class="menu__item menu__item--default" href="/">One</a>
  <a class="menu__item menu__item--two" href="/two">Two</a>
  <a class="menu__item menu__item--western" href="/western">Western</a>
  <a class="menu__item menu__item--scifi" href="/scifi">Sci-Fi</a>
  <a class="menu__item menu__item--classics" href="/classics">Classics</a>
  <a class="menu__item menu__item--mtv" href="/mtv">MTV</a>
  <a class="menu__item menu__item--horror" href="/horror">Horror</a>
  <a class="menu__item menu__item--docs" href="/docs">Docs</a>
  <a class="menu__item menu__item--action" href="/action">Action</a>
</nav>

<select id="channelDropdown" class="segment--mobile" onChange="selectChannelByDropdown()">
  <option class="menu__item menu__item--default" value="/">One</option>
  <option class="menu__item menu__item--two" value="/two">Two</option>
  <option class="menu__item menu__item--western" value="/western">Western</option>
  <option class="menu__item menu__item--scifi" value="/scifi">Sci-Fi</option>
  <option class="menu__item menu__item--classics" value="/classics">Classics</option>
  <option class="menu__item menu__item--mtv" value="/mtv">MTV</option>
  <option class="menu__item menu__item--horror" value="/horror">Horror</option>
  <option class="menu__item menu__item--docs" value="/docs">Docs</option>
  <option class="menu__item menu__item--action" value="/action">Action</option>
</select>