<link rel="stylesheet" type="text/css" href="css/menu.css">
<link rel="stylesheet" type="text/css" href="css/dark.css">

<menu class="fullscreen-menu hidden">
    <nav class="menu__item">{{> mutebutton }}</nav>
    <nav class="menu__item">{{> fullscreenbutton }}</nav>
    <nav class="menu__item">
        <div class="fullscreen-toggle fullscreen-toggle-2">
            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            <span>Fullscreen</span>
        </div>
    </nav>
</menu>


<menu class="menu">
    <h1 class="logo">Retro-TV</h1>
    <nav class="menu__item">{{> mutebutton }}</nav>
    <nav class="menu__item">{{> fullscreenbutton }}</nav>
    <nav class="menu__item">
        <div class="fullscreen-toggle fullscreen-toggle-2">
            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            <span>Fullscreen</span>
        </div>
    </nav>

    <nav class="menu__item" onclick="toggleTheme()"><i class="fa fa-bolt" aria-hidden="true"></i>Theme</nav>
    <nav class="menu__item toggle-programme" onclick="toggleProgrammeVisibility()"><i class="fa fa-list-ul" aria-hidden="true"></i>Schedule</nav>
</menu>

<menu class="segment">
    <a class="menu__item menu__item--default" href="/">Main Channel</a>
    <a class="menu__item menu__item--western" href="/western">Western</a>
    <a class="menu__item menu__item--scifi" href="/scifi">Sci-Fi</a>
    <a class="menu__item menu__item--classics" href="/classics">Classics</a>
    <a class="menu__item menu__item--mtv" href="/mtv">MTV</a>
    <a class="menu__item menu__item--horror" href="/horror">Horror</a>
    <a class="menu__item menu__item--docs" href="/docs">Docs</a>
</menu>

<script>
$(function() {
    var path = window.location.pathname;
    var western = path.indexOf("western") > -1;
    var scifi = path.indexOf("scifi") > -1;
    var classics = path.indexOf("classics") > -1;
    var mtv = path.indexOf("mtv") > -1;
    var horror = path.indexOf("horror") > -1;
    var docs = path.indexOf("docs") > -1;
    var defaultChannel = !western && !scifi && !classics && !mtv && !horror;
    if(western) {
        $(".menu__item--western").addClass("menu__item--active");
        $(".logo").addClass("logo--western");
        $(".logo").html("Western");
    }
    else if( scifi) {
        $(".menu__item--scifi").addClass("menu__item--active");
        $(".logo").addClass("logo--scifi");
        $(".logo").html("Sci-fi");
    }
    else if(classics) {
        $(".menu__item--classics").addClass("menu__item--active");
        $(".logo").addClass("logo--classics");
        $(".logo").html("Classics");
    }
    else if( mtv) {
        $(".mtv-logo").removeClass("mtv-logo--hidden");
        $(".menu__item--mtv").addClass("menu__item--active");
    }
    else if(horror) {
        $(".menu__item--horror").addClass("menu__item--active");
        $(".logo").addClass("logo--horror");
        $(".logo").html("Horror");
    }
     else if(docs) {
        $(".menu__item--docs").addClass("menu__item--active");
        $(".logo").addClass("logo--docs");
        $(".logo").html("Docs");
    }
    else {
        $(".menu__item--default").addClass("menu__item--active");
    }
});
</script>