<menu class="fullscreen-menu hidden">
    <nav class="menu__item">
      <div class="mute-toggle">
          <i class="fa fa-volume-up" aria-hidden="true"></i>
          <span>Sound</span>
      </div>
    </nav>
    <nav class="menu__item">{{> fullscreenbutton }}</nav>
    <nav class="menu__item">
        <div class="fullscreen-toggle fullscreen-toggle-2">
            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            <span>Fullscreen</span>
        </div>
    </nav>
</menu>


<menu class="menu">
    <nav class="menu__item toggle-programme">
        <div onclick="toggleProgrammeVisibility()">
            <i class="fa fa-list-ul" aria-hidden="true"></i>Schedule
        </div>
    </nav>

    <nav class="menu__item">
        <div onclick="toggleTheme()">
            <i class="fa fa-bolt" aria-hidden="true"></i>Theme
        </div>
    </nav>

    <nav class="menu__item">{{> fullscreenbutton }}</nav>

    <nav class="menu__item">
      <div class="mute-toggle">
          <i class="fa fa-volume-up" aria-hidden="true"></i>
          <span>Sound</span>
      </div>
    </nav>

    <nav class="menu__item">
        <div class="fullscreen-toggle fullscreen-toggle-2">
            <i class="fa fa-arrows-alt" aria-hidden="true"></i>
            <span>Fullscreen</span>
        </div>
    </nav>

</menu>

<h1 class="logo">Retro-TV</h1>

<menu class="segment segment--desktop">
    <a class="menu__item menu__item--default" href="/">One</a>
    <a class="menu__item menu__item--two" href="/two">Two</a>
    <a class="menu__item menu__item--western" href="/western">Western</a>
    <a class="menu__item menu__item--scifi" href="/scifi">Sci-Fi</a>
    <a class="menu__item menu__item--classics" href="/classics">Classics</a>
    <a class="menu__item menu__item--mtv" href="/mtv">MTV</a>
    <a class="menu__item menu__item--horror" href="/horror">Horror</a>
    <a class="menu__item menu__item--docs" href="/docs">Docs</a>
</menu>

<select id="channelDropdown" class="segment--mobile" onChange="selectChannelByDropdown()">
    <option class="menu__item menu__item--default" value="/">One</option>
    <option class="menu__item menu__item--two" value="/two">Two</option>
    <option class="menu__item menu__item--western" value="/western">Western</option>
    <option class="menu__item menu__item--scifi" value="/scifi">Sci-Fi</option>
    <option class="menu__item menu__item--classics" value="/classics">Classics</option>
    <option class="menu__item menu__item--mtv" value="/mtv">MTV</option>
    <option class="menu__item menu__item--horror" value="/horror">Horror</option>
    <option class="menu__item menu__item--docs" value="/docs">Docs</option>
</select>

<script>
    $(function () {
        var path = window.location.pathname;
        var western = path.indexOf("western") > -1;
        var scifi = path.indexOf("scifi") > -1;
        var classics = path.indexOf("classics") > -1;
        var mtv = path.indexOf("mtv") > -1;
        var horror = path.indexOf("horror") > -1;
        var docs = path.indexOf("docs") > -1;
        var two = path.indexOf("two") > -1;
        var defaultChannel = !western && !scifi && !classics && !mtv && !horror &!two;
        if (western) {
            $(".menu__item--western").addClass("menu__item--active");
            $(".logo").addClass("logo--western");
            $(".logo").html("Western");
        }
        else if (scifi) {
            $(".menu__item--scifi").addClass("menu__item--active");
            $(".logo").addClass("logo--scifi");
            $(".logo").html("Sci-fi");
        }
        else if (classics) {
            $(".menu__item--classics").addClass("menu__item--active");
            $(".logo").addClass("logo--classics");
            $(".logo").html("Classics");
        }
        else if (mtv) {
            $(".mtv-logo").removeClass("mtv-logo--hidden");
            $(".menu__item--mtv").addClass("menu__item--active");
        }
        else if (horror) {
            $(".menu__item--horror").addClass("menu__item--active");
            $(".logo").addClass("logo--horror");
            $(".logo").html("Horror");
        }
        else if (docs) {
            $(".menu__item--docs").addClass("menu__item--active");
            $(".logo").addClass("logo--docs");
            $(".logo").html("Docs");
        }
        else if (two) {
            $(".menu__item--two").addClass("menu__item--active");
            $(".logo").addClass("logo--two");
            $(".logo").html("Two");
        }
        else {
            $(".menu__item--default").addClass("menu__item--active");
        }
    });

    function selectChannelByDropdown(ev) {
        window.location.href = $("#channelDropdown").val();
    }

    var soundIcon = $('.mute-toggle i');
    var soundLabel = $('.mute-toggle span');
    var soundCached = localStorage["ytPlayerSound"];
    // if (soundCached == "off")
    //    window.addEventListener('youtubePlayerReady', mute);
    //else if (soundCached == "on")
    //   window.addEventListener('youtubePlayerReady', unMute);

    $('.mute-toggle').on('click', toggleMute);
    function unMute() {
        player.unMute();
        soundIcon.attr('class', 'fa fa-volume-up');
        soundLabel.text('Mute');
        localStorage["ytPlayerSound"] = "on";
    }
    function mute() {
        player.mute();
        soundIcon.attr('class', 'fa fa-volume-off');
        soundLabel.text('Unmute');
        localStorage["ytPlayerSound"] = "off";
    }
    function toggleMute() {
        if (player.isMuted())
            unMute();
        else
            mute();
    }

</script>
