<div id="mute-toggle" class="mute-toggle">
    <i class="fa fa-volume-up" aria-hidden="true"></i>
    <span>Sound</span>
</div>
<script>
    var soundIcon = $('.mute-toggle i');
    var soundLabel = $('.mute-toggle span');
    var soundCached = localStorage["ytPlayerSound"];
   // if (soundCached == "off")
    //    window.addEventListener('youtubePlayerReady', mute);
    //else if (soundCached == "on")
     //   window.addEventListener('youtubePlayerReady', unMute);

    $('.mute-toggle').on('click', function () {

        if (player.isMuted())
            unMute();
        else
            mute();
    });
    function unMute() {
        player.unMute();
        soundIcon.attr('class', 'fa fa-volume-up');
        soundLabel.text('Mute');
        localStorage["ytPlayerSound"] = "on";
    }
    function mute() {
        player.mute();
        soundIcon.attr('class', 'fa fa-volume-off');
        soundLabel.text('Unmute');
        localStorage["ytPlayerSound"] = "off";
    }

</script>