<div id="mute-toggle" class="mute-toggle">
    <i class="fa fa-volume-up" aria-hidden="true"></i>
    <span>Sound</span>
</div>
<script>
$('#mute-toggle').on('click', function() {
    var icon = $(this).find("i");
    if(player.isMuted()){
        player.unMute();
        icon.attr('class','fa fa-volume-up');
    }
    else{
        player.mute();
        icon.attr('class','fa fa-volume-off');
    }
});
</script>