<script src="js/showtimes.js"></script>
<link rel="stylesheet" type="text/css" href="css/showtimes.css"></link>

<section class='programme programme--hidden'>
    <header>
        <h1>Schedule</h1>
        
        <span class="programme__close" onclick="toggleProgrammeVisibility()"><i class="fa fa-times" aria-hidden="true"></i> Close</span>
    </header>
    <div class="programme__body">
    </div>
</section>