<section class="programme programme--hidden">
  <header>
    <h2>Schedule</h2>
    <span class="programme__close" onclick="toggleProgrammeVisibility()"><i class="fa fa-times" aria-hidden="true"></i></span>
  </header>
  <div class="programme__body"></div>
</section>