<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{{title }}</title>
  <link href="images/favicon.ico" rel="icon" type="image/x-icon">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Oswald:wght@400;700&family=Quicksand:wght@400;700&family=Work+Sans:wght@400;700;800&display=swap" rel="stylesheet">
  <link href="css/Chunkfive.otf">
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
</head>

<!-- set the default theme here-->
<body class="retro-theme">
  {{{body}}}

  <script src="js/clickEvents.js"></script>

  {{#if googleAnalyticsId}}
    <!-- GoogleAnalytics4 -->
    <script async src="{{ googleAnalyticsScriptUrl }}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag("js", new Date());

      gtag("config", "{{ googleAnalyticsId }}");
    </script>
  {{/if}}
</body>

</html>