
<menu class="menu">
    <nav class="menu__item"><a href="/">Main Channel</a></nav>
    <nav class="menu__item"><a href="/western">Western Channel</a></nav>
    <nav class="menu__item"><a href="/scifi">Sci-Fi Channel</a></nav>
    <nav class="menu__item toggle-programme" onclick="toggleProgrammeVisibility()">Schedule</nav>
</menu>


<div id="tv">
</div>

 {{> showtimes name='Show times' }}
<div id="content">
    
    <section class="videowrapper">
        <div id="player"></div>
        <div class="programme programme--hidden"></div>
    </section>
</div>

<script>
    var encodedJsonString = "{{{encodedJson}}}"; //wrapped in quoutes to ensure handlebars parses it as string
    var decoded = decodeURIComponent(encodedJsonString);
    var parsed = JSON.parse(decoded); 
    window.youtubeData = parsed;
</script>
<script src="js/youtube.js"></script>