
{{> menu }}

<div id="tv-backdrop" class="loading"></div>

{{> showtimes name='Show times' }}

<main id="content">
    <img class="mtv-logo mtv-logo--hidden" src="images/mtv.gif" alt="MTV logo"">
    <section class="videowrapper">
        <div id="player"></div>
    </section>
</main>

<script>
	const storedTheme = localStorage.getItem("theme");
  if (storedTheme) {
    document.body.className = "";
    document.body.classList.add(storedTheme);
  }

  var videoDataAsEncodedJson = "{{{videoDataAsEncodedJson}}}"; //wrapped in quoutes to ensure handlebars parses it as string
  var decodedVideoData = JSON.parse(decodeURIComponent(videoDataAsEncodedJson));
  window.youtubeData = decodedVideoData;
</script>
<script src="js/youtube.js"></script>
<script src="js/fullscreen.js"></script>