<script src="js/showtimes.js"></script>
<link rel="stylesheet" type="text/css" href="css/showtimes.css"></link>
<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:700" rel="stylesheet">


<section class='programme'>
    <h1>Show times</h1><span class="programme__close" onclick="toggleProgrammeVisibility()">Close</span>
</section>

<script>
   
</script>