@import "vars.less";
body.dark-theme {
  .menu {
    position: absolute;
    top: 2px;
    left: 0px;
    z-index: @z-standard-menu;
    text-align: center;
  }
  .menu__item {
    display: inline-block;
    opacity: 1;
    color: white;
    font-size: 12px;
    letter-spacing: normal;
    border-radius: 50px;
    border-color: transparent;
    cursor: pointer;
    user-select: none;
    > * {
      /*the inner item is clickable, so apply padding to it instead of the __item */
      padding: 5px 10px;
    }
  }
  .menu__item:hover {
    color: gold;
  }
  .segment {
    position: absolute;
    top: 2px;
    right: 30px;
    z-index: @z-standard-menu;
    text-align: center;
  }
  .segment .menu__item + .menu__item {
    // border-left: solid 1px #555;
  }
  .segment .menu__item:first-child {
    border-radius: 55px 0px 0px 55px;
  }
  .segment .menu__item:last-child {
    border-radius: 0px 55px 55px 0px;
  }
  .segment .menu__item {
    margin-left: -2px;
    border-radius: 0;
    margin-right: -6px;
    display: inline-block;
    position: relative;
    line-height: 33px;
    padding: 0 7px;
    font-size: 13px;
    color: white;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    outline: 0;
    &:hover {
      background-color: rgba(30, 87, 153, 0.5);
    }
    &--active {
      background: linear-gradient(to top, rgba(30, 87, 153, 1) 0%, rgba(125, 185, 232, 0) 20%);
      font-weight: bold;
    }
  }
  .toggle-programme:hover {
    color: gold;
    box-shadow: 0px 0px 5px gold;
  }
  .toggle-programme--active {
    color: black;
    background-color: gold;
  }
  .toggle-programme--active:hover {
    color: gold;
    background: black;
    box-shadow: 0px 0px 5px gold;
  }
  .segment--blue .menu__item {
    margin-left: -2px;
    border-radius: 0;
    margin-right: -6px;
    display: inline-block;
    position: relative;
    line-height: 33px;
    padding: 0 15px;
    font-size: 13px;
    color: white;
    text-decoration: none;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
    outline: 0;
    background: linear-gradient(to bottom, rgba(30, 87, 153, 1) 0%, rgba(125, 185, 232, 0) 80%);
    &--active {
      background: linear-gradient(to top, rgba(30, 87, 153, 1) 0%, rgba(125, 185, 232, 0) 50%);
      border-top: #222;
    }
  }
  #tv {
    background: none;
    transition: background 500ms ease-out 1s;
    &.loading {
      background-image: url(images/static.gif);
      background-size: 50% 50%;
      opacity: 0.8;
      -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(rgba(0, 0, 0, 1)));
      transition: background 500ms ease-out 1s;
    }
  }
}