body.dark-theme .menu {
  position: absolute;
  top: 2px;
  left: 0px;
  z-index: 4;
}
@media screen and (min-width: 600px) {
  body.dark-theme .menu {
    text-align: center;
  }
}
body.dark-theme .menu__item {
  display: inline-block;
  opacity: 1;
  color: white;
  font-size: 12px;
  letter-spacing: normal;
  border-radius: 50px;
  border-color: transparent;
  cursor: pointer;
  user-select: none;
}
body.dark-theme .menu__item > * {
  padding: 0px;
}
@media screen and (min-width: 600px) {
  body.dark-theme .menu__item > * {
    /*the inner item is clickable, so apply padding to it instead of the __item */
    padding: 5px 10px;
  }
}
body.dark-theme .menu__item:hover {
  color: gold;
}
body.dark-theme .segment {
  position: absolute;
  top: 2px;
  right: 30px;
  z-index: 4;
  text-align: center;
}
body.dark-theme .segment--desktop {
  display: none;
}
@media screen and (min-width: 600px) {
  body.dark-theme .segment--desktop {
    display: block;
  }
}
body.dark-theme .segment--mobile {
  display: block;
  color: white;
  background: transparent;
  border-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
}
body.dark-theme .segment--mobile * {
  color: black;
}
@media screen and (min-width: 600px) {
  body.dark-theme .segment--mobile {
    display: none;
  }
}
body.dark-theme .segment .menu__item:first-child {
  border-radius: 55px 0px 0px 55px;
}
body.dark-theme .segment .menu__item:last-child {
  border-radius: 0px 55px 55px 0px;
}
body.dark-theme .segment .menu__item {
  display: inline-block;
  position: relative;
  margin-left: -2px;
  margin-right: -6px;
  color: white;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  outline: 0;
  border-radius: 0;
  font-size: 9px;
  line-height: 16px;
  padding: 0 2px;
}
body.dark-theme .segment .menu__item:hover {
  background-color: rgba(30, 87, 153, 0.5);
}
@media screen and (min-width: 600px) {
  body.dark-theme .segment .menu__item {
    line-height: 33px;
    padding: 0 7px;
    font-size: 13px;
  }
  body.dark-theme .segment .menu__item--active {
    background: linear-gradient(to top, #1e5799 0%, rgba(125, 185, 232, 0) 20%);
    font-weight: bold;
  }
}
body.dark-theme .toggle-programme:hover {
  color: gold;
  box-shadow: 0px 0px 5px gold;
}
body.dark-theme .toggle-programme--active {
  color: black;
  background-color: gold;
}
body.dark-theme .toggle-programme--active:hover {
  color: gold;
  background: black;
  box-shadow: 0px 0px 5px gold;
}
body.dark-theme .segment--blue .menu__item {
  margin-left: -2px;
  border-radius: 0;
  margin-right: -6px;
  display: inline-block;
  position: relative;
  color: white;
  text-decoration: none;
  outline: 0;
  background: linear-gradient(to bottom, #1e5799 0%, rgba(125, 185, 232, 0) 80%);
  padding: 0 3px;
  font-size: 10px;
  line-height: 16px;
}
@media screen and (min-width: 600px) {
  body.dark-theme .segment--blue .menu__item {
    line-height: 33px;
    padding: 0 15px;
    font-size: 13px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  }
}
body.dark-theme .segment--blue .menu__item--active {
  background: linear-gradient(to top, #1e5799 0%, rgba(125, 185, 232, 0) 50%);
  border-top: #222;
}
body.dark-theme #tv {
  background: none;
  transition: background 500ms ease-out 1s;
}
body.dark-theme #tv.loading {
  background-image: url(images/static.gif);
  background-size: 50% 50%;
  opacity: 0.8;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(#000000));
  transition: background 500ms ease-out 1s;
}
