.menu {
  position: absolute;
  top: 2px;
  left: 0px;
  z-index: 4;
  text-align: center;
}
.menu__item {
  display: inline-block;
  padding: 5px 10px;
  background: gold;
  opacity: 0.5;
  color: black;
  font-size: 12px;
  letter-spacing: normal;
  border-radius: 50px;
  box-shadow: 1px 1px 1px #555;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.menu__item--active {
  opacity: 0.8;
}
.menu__item:hover {
  background-color: yellow;
}
.menu__item a {
  padding: 0;
  color: black;
}
.segment {
  position: absolute;
  top: 2px;
  right: 28px;
  z-index: 4;
  text-align: center;
}
.segment .menu__item {
  margin-left: -2px;
  border-radius: 0;
  margin-right: -6px;
}
.segment .menu__item + .menu__item {
  border-left: solid 1px #555;
}
.segment .menu__item:first-child {
  border-radius: 55px 0px 0px 55px;
}
.segment .menu__item:last-child {
  border-radius: 0px 55px 55px 0px;
}
.toggle-programme {
  background: black;
  color: white;
}
.toggle-programme--active {
  background-color: lightblue;
  color: black;
  box-shadow: inset 0 0 4px black;
}
.toggle-programme:hover {
  color: black;
  background-color: yellow;
}
.programme {
  background-color: rgba(0, 0, 0, 0.5);
  margin: 10px;
  padding: 50px;
  position: absolute;
  right: 0;
  top: 0;
  width: 400px;
  letter-spacing: normal;
  text-align: left;
  transition: width 0.5s, height 2s;
}
.programme--hidden {
  display: none;
}
.programme .title {
  margin-top: 10px;
  font-size: 11px;
}
.programme .title--past {
  display: none;
}
.programme .title--current {
  font-size: 150%;
}
.programme .title .start-time {
  font-family: consolas, monospace;
  color: gold;
  font-weight: bolder;
}
.programme .programme__close {
  display: inline-block;
  padding: 5px 10px;
  background: gold;
  color: black;
  box-shadow: 1px 2px 5px #555;
  border-radius: 50px;
  z-index: 999;
}
