@import "vars.less";
body.retro-theme {
    background-color: #000;
    background-image: url(images/static.gif);
    .menu {
        position: absolute;
        top: -7px;
        left: 0px;
        z-index: @z-standard-menu;
        text-align: center;
        font-family: Oswald, Helvetica, Arial, sans-serif;
        &__item {
            display: inline-block;
            background: gold;
            opacity: 0.5;
            color: black;
            font-size: 12px;
            letter-spacing: normal;
            border-radius: 50px;
            box-shadow: 1px 1px 1px #555;
            cursor: pointer;
            user-select: none;
            > * {
                /*the inner item is clickable, so apply padding to it instead of the __item */
                padding: 5px 10px;
            }
            &--active {
                opacity: 0.8;
            }
            &:hover {
                background-color: yellow;
            }
        }
    }
    .segment {
        position: absolute;
        top: -7px;
        right: 28px;
        z-index: @z-standard-menu;
        text-align: center;
        .menu__item {
            margin-left: -2px;
            border-radius: 0;
            margin-right: -6px;
        }
        .menu__item + .menu__item {
            border-left: solid 1px #555;
        }
        .menu__item:first-child {
            border-radius: 55px 0px 0px 55px;
        }
        .menu__item:last-child {
            border-radius: 0px 55px 55px 0px;
        }
    }
    .toggle-programme {
        &:hover {
            color: white;
            background-color: yellow;
        }
        &--active {
            background: black;
            color: yellow;
            box-shadow: 1px 1px 4px gold;
            &:hover {
                color: black;
                background-color: yellow;
            }
        }
    }
    
    .logo {
        text-shadow: 1px 1px 2px black;
        display: none;
    }
}