body.retro-theme {
  background-color: #000;
  background-image: url(images/static.gif);
}
body.retro-theme .menu {
  position: absolute;
  top: -7px;
  left: 0px;
  z-index: 4;
  text-align: center;
  font-family: Oswald, Helvetica, Arial, sans-serif;
}
body.retro-theme .menu__item {
  display: inline-block;
  background: gold;
  opacity: 0.5;
  color: black;
  font-size: 12px;
  letter-spacing: normal;
  border-radius: 50px;
  box-shadow: 1px 1px 1px #555;
  cursor: pointer;
  user-select: none;
}
body.retro-theme .menu__item > * {
  /*the inner item is clickable, so apply padding to it instead of the __item */
  padding: 5px 10px;
}
body.retro-theme .menu__item--active {
  opacity: 0.8;
}
body.retro-theme .menu__item:hover {
  background-color: yellow;
}
body.retro-theme .segment {
  position: absolute;
  top: -7px;
  right: 28px;
  z-index: 4;
  text-align: center;
}
body.retro-theme .segment .menu__item {
  margin-left: -2px;
  border-radius: 0;
  margin-right: -6px;
}
@media screen and (min-width: 600px) {
  body.retro-theme .segment .menu__item {
    line-height: 33px;
  }
  body.retro-theme .segment .menu__item--active {
    font-weight: bold;
  }
}
body.retro-theme .segment .menu__item + .menu__item {
  border-left: solid 1px #555;
}
body.retro-theme .segment .menu__item:first-child {
  border-radius: 55px 0px 0px 55px;
}
body.retro-theme .segment .menu__item:last-child {
  border-radius: 0px 55px 55px 0px;
}
body.retro-theme .toggle-programme:hover {
  color: white;
  background-color: yellow;
}
body.retro-theme .toggle-programme--active {
  background: black;
  color: yellow;
  box-shadow: 1px 1px 4px gold;
}
body.retro-theme .toggle-programme--active:hover {
  color: black;
  background-color: yellow;
}
body.retro-theme .logo {
  text-shadow: 1px 1px 2px black;
  display: none;
}
