.programme {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin: 10px;
  padding: 10px;
  position: absolute;
  left: 30px;
  top: 100px;
  width: 400px;
  letter-spacing: normal;
  text-align: left;
  z-index: 7;
}
.programme--hidden {
  display: none;
}
.programme .title {
  margin-top: 10px;
  font-size: 11px;
}
.programme .title--past {
  display: none;
}
.programme .title--current {
  font-size: 150%;
}
.programme .title .start-time {
  font-family: consolas, monospace;
  color: gold;
  font-weight: bolder;
}
.programme h1 {
  display: inline;
}
.programme .programme__close {
  padding: 5px 10px;
  background: gold;
  color: black;
  box-shadow: 1px 2px 5px #555;
  border-radius: 50px;
  z-index: 7 1;
  float: right;
  cursor: pointer;
}
