.programme {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  margin: 0;
  position: absolute;
  top: 40px;
  left: 0;
  width: 430px;
  height: calc(100vh - 60px);
  overflow: hidden;
  letter-spacing: normal;
  text-align: left;
  z-index: 7;
  transition: height 0.25s;
}
.programme--hidden {
  height: 0;
}
.programme__body {
  padding: 10px 10px 10px 30px;
  font-family: 'Lato', sans-serif;
}
.programme header {
  padding: 10px 10px 10px 30px;
  width: calc(100% - 30px);
  background-color: gold;
}
.programme header h1 {
  color: black;
}
.programme header .programme__close {
  position: absolute;
  top: 6px;
  right: 5px;
  width: 30px;
  height: 30px;
  color: black;
  font-size: 25px;
  z-index: 8;
  cursor: pointer;
}
.programme header h2 {
  color: black;
}
.programme h1,
.programme h2 {
  display: inline;
}
.programme .schedule-row {
  margin-top: 15px;
  font-size: 13px;
  display: inline-block;
  width: 100%;
}
.programme .schedule-row--past {
  display: none;
}
.programme .schedule-row--current {
  color: gold;
}
.programme .schedule-row__title {
  width: 280px;
  display: inline-block;
  font-family: 'Work Sans', sans-serif;
}
.programme .schedule-row__time {
  font-family: 'Work Sans', 'Helvetica', consolas, monospace;
  font-size: 20px;
  line-height: 1;
  color: gold;
  font-weight: bolder;
  display: inline-block;
  width: 65px;
  vertical-align: top;
}
.toggle-programme i {
  padding-right: 5px;
}
.segment {
  z-index: 4;
}
.segment--desktop {
  display: none;
}
@media screen and (min-width: 850px) {
  .segment--desktop {
    display: block;
  }
}
.segment--mobile {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
}
@media screen and (min-width: 850px) {
  .segment--mobile {
    display: none;
  }
}
body.retro-theme {
  background-color: #000;
  background-image: url(images/static.gif);
}
body.retro-theme .menu {
  position: absolute;
  top: 3px;
  left: 2px;
  z-index: 4;
  text-align: center;
  font-family: Oswald, Helvetica, Arial, sans-serif;
}
body.retro-theme .menu__item {
  display: inline-block;
  background: #b9ab8e;
  opacity: 1;
  color: black;
  font-size: 12px;
  letter-spacing: normal;
  border-radius: 5px;
  box-shadow: 1px 1px 1px #555;
  cursor: pointer;
  user-select: none;
}
body.retro-theme .menu__item > * {
  /*the inner item is clickable, so apply padding to it instead of the __item */
  padding: 5px 10px;
}
body.retro-theme .menu__item:hover {
  background-color: gold;
}
body.retro-theme .segment {
  position: absolute;
  font-family: Oswald, Helvetica, Arial, sans-serif;
  top: 2px;
  right: 28px;
  z-index: 4;
  text-align: center;
}
body.retro-theme .segment .menu__item {
  margin-left: -2px;
  border-radius: 0;
  margin-right: -6px;
  padding: 0 10px;
}
@media screen and (min-width: 850px) {
  body.retro-theme .segment .menu__item {
    line-height: 33px;
  }
  body.retro-theme .segment .menu__item--active {
    font-weight: bold;
  }
}
body.retro-theme .segment .menu__item:hover {
  color: black;
  background-color: gold;
}
body.retro-theme .segment .menu__item + .menu__item {
  border-left: solid 1px #555;
}
body.retro-theme .segment .menu__item:first-child {
  border-radius: 55px 0px 0px 55px;
}
body.retro-theme .segment .menu__item:last-child {
  border-radius: 0px 55px 55px 0px;
}
body.retro-theme .toggle-programme:hover {
  color: black;
  background-color: gold;
}
body.retro-theme .toggle-programme--active {
  background: black;
  color: gold;
  box-shadow: 1px 1px 4px gold;
}
body.retro-theme .toggle-programme--active:hover {
  color: black;
  background-color: yellow;
}
body.retro-theme .logo {
  text-shadow: 1px 1px 2px black;
  display: none;
}
body.dark-theme .menu {
  position: absolute;
  right: 5px;
  bottom: 2px;
  z-index: 4;
  font-family: system-ui, Arial, Helvetica, sans-serif;
}
@media screen and (min-width: 850px) {
  body.dark-theme .menu {
    text-align: center;
  }
}
body.dark-theme .menu__item {
  display: inline-block;
  opacity: 1;
  color: white;
  font-size: 12px;
  letter-spacing: normal;
  border-radius: 5px;
  border-color: transparent;
  cursor: pointer;
  user-select: none;
}
body.dark-theme .menu__item > * {
  padding: 0px;
}
@media screen and (min-width: 850px) {
  body.dark-theme .menu__item > * {
    /*the inner item is clickable, so apply padding to it instead of the __item */
    padding: 5px 10px;
  }
}
body.dark-theme .menu__item:hover {
  color: gold;
}
body.dark-theme .segment {
  position: absolute;
  top: 2px;
  right: 30px;
  z-index: 4;
  text-align: center;
}
body.dark-theme .segment--desktop {
  display: none;
}
@media screen and (min-width: 850px) {
  body.dark-theme .segment--desktop {
    display: block;
  }
}
body.dark-theme .segment--mobile {
  display: block;
  color: white;
  background: transparent;
  border-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
}
body.dark-theme .segment--mobile * {
  color: black;
}
@media screen and (min-width: 850px) {
  body.dark-theme .segment--mobile {
    display: none;
  }
}
body.dark-theme .segment .menu__item:first-child {
  border-radius: 55px 0px 0px 55px;
}
body.dark-theme .segment .menu__item:last-child {
  border-radius: 0px 55px 55px 0px;
}
body.dark-theme .segment .menu__item {
  display: inline-block;
  position: relative;
  margin-left: -2px;
  margin-right: -6px;
  color: white;
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  outline: 0;
  border-radius: 0;
  font-size: 9px;
  line-height: 16px;
  padding: 0 2px;
}
body.dark-theme .segment .menu__item:hover {
  background-color: rgba(30, 87, 153, 0.5);
}
@media screen and (min-width: 850px) {
  body.dark-theme .segment .menu__item {
    padding: 0 7px;
    font-size: 13px;
  }
  body.dark-theme .segment .menu__item--active {
    background: linear-gradient(to top, #1e5799 0%, rgba(125, 185, 232, 0) 20%);
    font-weight: bold;
  }
}
body.dark-theme .toggle-programme {
  padding-right: 10px;
}
body.dark-theme .toggle-programme:hover {
  color: gold;
  box-shadow: 0px 0px 5px gold;
}
body.dark-theme .toggle-programme--active {
  color: black;
  background-color: gold;
}
body.dark-theme .toggle-programme--active:hover {
  color: gold;
  background: black;
  box-shadow: 0px 0px 5px gold;
}
body.dark-theme .segment--blue .menu__item {
  margin-left: -2px;
  border-radius: 0;
  margin-right: -6px;
  display: inline-block;
  position: relative;
  color: white;
  text-decoration: none;
  outline: 0;
  background: linear-gradient(to bottom, #1e5799 0%, rgba(125, 185, 232, 0) 80%);
  padding: 0 3px;
  font-size: 10px;
  line-height: 16px;
}
@media screen and (min-width: 850px) {
  body.dark-theme .segment--blue .menu__item {
    padding: 0 15px;
    font-size: 13px;
    text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  }
}
body.dark-theme .segment--blue .menu__item--active {
  background: linear-gradient(to top, #1e5799 0%, rgba(125, 185, 232, 0) 50%);
  border-top: #222;
}
body.dark-theme #tv-backdrop {
  background: none;
  transition: background 500ms ease-out 1s;
}
body.dark-theme #tv-backdrop.loading {
  background-image: url(images/static.gif);
  background-size: 50% 50%;
  opacity: 0.8;
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.9)), to(#000000));
  transition: background 500ms ease-out 1s;
}
body,
ul,
menu,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
img,
form,
fieldset,
input,
textarea,
blockquote {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color: #000;
  font-size: 14px;
  overflow: hidden;
  font-family: 'Quicksand', sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: 'Quicksand', sans-serif;
}
body,
html {
  height: 100%;
}
a {
  color: #ded7bd;
  text-decoration: none;
}
a:hover {
  color: #af9a77;
}
nav li {
  list-style: none;
}
/* -------------- TV -------------- */
#tv-backdrop {
  background-image: url(images/tv-2.png);
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  /*pointer-events: none //enable clicking the video layer below*/
  transition: all 0.5s ease;
}
#tv-backdrop.fullscreen {
  z-index: 5;
  transition: all 0.5s ease;
  background-image: none;
}
iframe {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  height: 390px;
  width: 640px;
}
iframe#player {
  margin-top: -7px;
}
#content {
  width: 60%;
  height: 65%;
  top: 20%;
  left: 10%;
  color: #fff;
  position: relative;
  z-index: 2;
  width: 87%;
  height: 90%;
  top: 5%;
  left: 7%;
  text-align: center;
  transition: all 0.5s ease;
}
#content.fullscreen {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  transition: all 0.5s ease;
}
.videowrapper {
  float: none;
  clear: both;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  content: "";
}
.videowrapper :after {
  /*hide yt-logo*/
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  content: "";
  position: absolute;
  height: 57PX;
}
.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* -------------- Error -------------- */
.error {
  background-color: rgba(50, 50, 50, 0.5);
  color: white;
}
.error h1,
.error h2,
.error h3 {
  color: lime;
  font-family: monospace;
  font-size: 12px;
}
/* -------------- Extra overlays -------------- */
#logo {
  display: block;
  width: 20%;
  margin: 0 auto 2em auto;
}
#logo img {
  max-width: 100%;
}
.mtv-logo {
  position: absolute;
  top: -20px;
  left: -30px;
  width: 190px;
  z-index: 4;
}
.mtv-logo--hidden {
  display: none;
}
.logo {
  position: absolute;
  bottom: 2px;
  left: 5px;
  z-index: 3;
  font-size: 50px;
  font-family: Helvetica;
  color: #eee;
  letter-spacing: normal;
  width: 100%;
  text-align: left;
  margin-left: 5px;
}
.logo--horror {
  font-family: ChunkFive, Helvetica;
  text-shadow: 1px 0px #a70e0e;
  color: #4e47a1;
  font-size: 37px;
  max-width: 300px;
}
.logo--western {
  font-family: ChunkFive, Helvetica;
  font-size: 37px;
  max-width: 300px;
}
.logo--scifi {
  font-family: Oswald, Consolas;
  color: #eee;
  font-size: 49px;
  max-width: 290px;
  font-weight: normal;
}
.logo--classics {
  font-family: ChunkFive, Helvetica;
  color: #eee;
  font-size: 49px;
  max-width: 290px;
  font-weight: normal;
}
/* -------------- GUI -------------- */
.fullscreen-menu {
  z-index: 6;
  position: absolute;
  bottom: 5px;
  right: 5px;
  opacity: 1;
  transition: all 0.5s ease;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
  height: auto;
  width: auto;
  display: block;
}
.fullscreen-menu.hidden {
  opacity: 0;
  transition: all 0.5s ease;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
  z-index: -2;
}
.fullscreen-menu .close-fullscreen {
  color: white;
}
.fullscreen-menu .close-fullscreen:hover {
  cursor: pointer;
}
.no-cursor {
  cursor: none;
}
@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}
@keyframes slide {
  100% {
    left: 0;
  }
}
@font-face {
  font-family: ChunkFive;
  src: url(Chunkfive.otf);
}
