body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
img,
form,
fieldset,
input,
textarea,
blockquote {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color: #000;
  font-family: 'Helvetica', sans-serif;
  letter-spacing: 0.3em;
  font-size: 14px;
  overflow: hidden;
}
body,
html {
  height: 100%;
}
a {
  color: #ded7bd;
  text-decoration: none;
}
a:hover {
  color: #af9a77;
}
/* -------------- TV -------------- */
#tv {
  background-image: url(images/tv-2.png);
  /*url(images/shading.png);*/
  background-size: 100% 100%;
  height: 100%;
  width: 100%;
  z-index: 3;
  position: absolute;
  top: 0;
  left: 0;
  /*pointer-events: none //enable clicking the video layer below*/
  transition: all 0.5s ease;
}
#tv.fullscreen {
  z-index: 5;
  transition: all 0.5s ease;
  background-image: none;
}
iframe {
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  height: 390px;
  width: 640px;
}
iframe#player {
  margin-top: -7px;
}
#content {
  width: 60%;
  height: 65%;
  top: 20%;
  left: 10%;
  color: #fff;
  position: relative;
  z-index: 2;
  width: 87%;
  height: 90%;
  top: 5%;
  left: 7%;
  text-align: center;
  transition: all 0.5s ease;
}
#content.fullscreen {
  position: absolute;
  z-index: 4;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  transition: all 0.5s ease;
}
.videowrapper {
  float: none;
  clear: both;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  content: "";
}
.videowrapper :after {
  /*hide yt-logo*/
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  content: "";
  position: absolute;
  height: 57PX;
}
.videowrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* -------------- Error -------------- */
.error {
  background-color: rgba(50, 50, 50, 0.5);
  color: white;
}
.error h1,
.error h2,
.error h3 {
  color: red;
}
/* -------------- Extra overlays -------------- */
#logo {
  display: block;
  width: 20%;
  margin: 0 auto 2em auto;
}
#logo img {
  max-width: 100%;
}
.mtv-logo {
  position: absolute;
  top: -20px;
  left: -30px;
  width: 190px;
  z-index: 4;
}
.mtv-logo--hidden {
  display: none;
}
.logo {
  font-size: 50px;
  font-family: Helvetica;
  color: #eee;
  letter-spacing: normal;
}
.logo--horror {
  font-family: ChunkFive;
  text-shadow: 1px 0px #a70e0e;
  color: #4e47a1;
  font-size: 37px;
  max-width: 300px;
}
.logo--scifi {
  font-family: Oswald, Consolas;
  color: #eee;
  font-size: 49px;
  max-width: 290px;
  font-weight: normal;
}
.logo--classics {
  font-family: ChunkFive;
  color: #eee;
  font-size: 49px;
  max-width: 290px;
  font-weight: normal;
}
/* -------------- GUI -------------- */
.fullscreen-menu {
  z-index: 6;
  position: absolute;
  top: 5px;
  left: 5px;
  opacity: 1;
  transition: all 0.5s ease;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
}
.fullscreen-menu.hidden {
  opacity: 0;
  transition: all 0.5s ease;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
}
.fullscreen-menu .close-fullscreen {
  color: white;
}
.fullscreen-menu .close-fullscreen:hover {
  cursor: pointer;
}
@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}
@keyframes slide {
  100% {
    left: 0;
  }
}
